.title p{
    color: grey;
    margin-bottom: 50px;
}


#about h2, #offers h2{
    margin: 50px 0px 20px;
    font-size: 40px;
    
}
#about h2{
    color:rgb(66, 66, 156);

}


#about .title{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 38px;
}


.about-content{
    display: flex;
    justify-content: space-between;
}
.container{
    margin: auto;
    max-width: 1100px;
    
}
.about-content p{
    line-height: 1.7;
    color: grey;
    margin-left: 20px;
    font-weight: 600;
    font-size: 14px;
    margin-right: 7rem;
}
.btn-secondary {
    color: white;
    background-color:rgb(66, 66, 156) ;
    margin-top: 10px;
    margin-left: 20px;
    
}
.btn-secondary:hover{
    background-color: #ffae00;
}
.arbaa{
    margin-right: 20px;
    width: 450px;
}